.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock + .portal .tooltip {
  display: none;
}

.clock:hover + .portal .tooltip {
  display: block;
}
